body {
	background-color:#D2B48C;
}

#boxdiv {
	height:400px;
	width:300px;
	background-color:#DAA520;
	border:5px solid black;
	margin:300px auto 0 auto;
	padding: 15px;
}

.field {
	width:150px;
	height:30px;
	font-size:15px;
}

#submit {
	width:100px;
	height:30px;
	font-size:15px;
	background-color:#000080;
	color:white;
}

#signup_button {
	width:100px;
	height:30px;
	font-size:15px;
	background-color:#8B0000;
	color:white;
}